/*Global Styles*/
html
{
  margin: 0px;
  /*-webkit-user-select: none;*/
}
body{
  margin: 0px 0px;
  background-color: transparent;
}

.text_cell
{
  padding: 2px 6px 2px 6px;
  vertical-align: middle;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  word-wrap:break-word;
}

.grey_text {
  color: grey;
}

.text_cell_inner
{
  padding: 2px 2px;
  vertical-align: middle;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  word-wrap:break-word;
  font: message-box;
  font-size: 13px;
}

.image_cell
{
  padding: 2px 0px 2px 20px;
  width: 20px;
}

.image_cell_none
{
  padding: 2px 5px 2px 13px;
  width: 10px;
}

.image_cell_check
{
  background-image: url("/images/drop-down-checkmark.png");
  background-position: 0px center;
  background-repeat: no-repeat;
}

.unsorted_list_right
{
  float: right;
}

.unsorted_list
{
  font-family: arial;
  margin: 0px;
  padding: 8px 0px;
  font-style: normal;
  font-size: 14.667px;
  font-weight: 400;
  color: black;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #999;
  white-space:nowrap;
  table-layout: fixed;
  border-spacing: 0px;
  width: 100%
}

.normal_image {
  /*height: 100%;*/
  height: 16px;
}

.normal_list {
  cursor: pointer;
  height: 22px;
  margin: 4.5px 0px;
  padding: 0px 10px !important;
  line-height: 21px;
  opacity: 1;
}

.normal_list:hover {
  background-color: #e1e1e1 !important;
}

.break_list {

}

.break_line {
  height: 0x;
  margin: 4px 0;
  border-top: 1px solid #999999;
}
