._d52-signin {
  font-family: 'Lato';
  width: 348px;
}

._d52-signin * {
  box-sizing: border-box;
}

._d52-signin a {
  text-decoration: none;
  transition: color 0.1s linear;
}

._d52-signin a:hover {
  color: #676769;
}

._d52-signin ._d52-banner {
  background: #d7f7e8;
  font-size: 15px;
  color: #1ba163;
  line-height: 24px;
  padding: 18px 65px;
  position: relative;
}

._d52-signin ._d52-banner:before {
  content: '';
  position: absolute;
  margin-left: -31px;
  margin-top: 5px;
  width: 24px;
  height: 40px;
  background-size: 24px 40px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCAyNCA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+RmlsbCA3NzwvdGl0bGU+PHBhdGggZD0iTTE0Ljk2NiA0LjYxbC0xLjY3IDEzLjY2aDcuMzk0TDguMzQ0IDM0LjU0bDEuNjctMTMuNjZIMi42MkwxNC45NjYgNC42MU0xNi44MzYgMEwwIDIyLjE4Nmg4LjU1TDYuNDc1IDM5LjE1MiAyMy4zMSAxNi45NjZoLTguNTVMMTYuODM1IDAiIGZpbGw9IiMyOEI0NzMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
}

._d52-signin ._d52-descr {
  padding: 20px 32px 10px;
}

._d52-signin ._d52-descr_title {
  font-size: 15px;
  color: #5a5b5f;
  line-height: 20px;
  margin-bottom: 7px;
}

._d52-signin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

._d52-signin li {
  margin-bottom: 3px;
  font-size: 13px;
  color: #acacae;
  line-height: 18px;
}

._d52-signin li:before {
  content: '• ';
}

._d52-signin ._d52-buttons {
  padding-left: 20px;
  margin-bottom: 18px;
  position: relative;
  top: 1px;
}

._d52-signin ._d52-button {
  border-radius: 26px;
  padding: 3px 22px;
  margin-left: 14px;
  font-size: 11px;
  transition: all 0.1s linear;
}

._d52-signin ._d52-auth_button {
  background-color: #e75146;
  color: #fff;
  border: 1px solid #e75146;
}

._d52-signin ._d52-auth_button ._d52-sign_up {
  text-transform: uppercase;
  letter-spacing: 0.92px;
  margin-right: 3px;
}

._d52-signin ._d52-auth_button ._d52-free {
  color: #ffb9b9;
}

._d52-signin ._d52-auth_button:hover {
  color: #fff;
  background-color: #d5281c;
  border-color: #d5281c;
}

._d52-signin ._d52-footer {
  color: #acacae;
  font-size: 12px;
  padding-left: 35px;
  padding-bottom: 15px;
}

._d52-signin ._d52-signin_link {
  color: #acacae;
}