._000-signin {
  line-height: initial;
  white-space: normal;
  text-align: left;
  float: initial;
  clear: none;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  color: transparent;
  font-family: 'Lato';
  font-size: 16px !important;
  color: #000 !important;
  box-sizing: border-box !important;
}

._000-signin div,
._000-signin span,
._000-signin h1,
._000-signin h2,
._000-signin h3,
._000-signin h4,
._000-signin h5,
._000-signin h6,
._000-signin p,
._000-signin a,
._000-signin img,
._000-signin b,
._000-signin u,
._000-signin i,
._000-signin ul,
._000-signin li,
._000-signin form,
._000-signin label,
._000-signin canvas,
._000-signin footer,
._000-signin header,
._000-signin nav,
._000-signin section {
  line-height: initial;
  white-space: normal;
  text-align: left;
  float: initial;
  clear: none;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

._000-signin span {
  display: inline;
}

._000-signin ._000-content {
  padding: 30px 50px 0 !important;
  text-align: center !important;
}

._000-signin ._000-head {
  font-weight: 200 !important;
  margin-bottom: 13px !important;
  font-size: 28px !important;
  text-align: center !important;
}

._000-signin ._000-descr {
  margin-bottom: 20px !important;
  text-align: center !important;
  color: rgba(0,0,0,0.67);
}

._000-signin ._000-auth_button {
  text-align: center !important;
  color: #fff !important;
  width: 232px;
  font-size: 20px !important;
  margin-bottom: 25px !important;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 8px !important;
  margin-top: 10px !important;
  padding-bottom: 10px !important;
  border: none;
  line-height: 29px !important;
  display: inline-block;
  font-weight: 500 !important;
  border-radius: 100px;
  background: linear-gradient(to bottom, #e04f42 0%, #d0352c 100%);
}

._000-signin ._000-auth_button:hover {
  box-shadow: 0 -1px 0 #de210d inset, 0 1px 0 #ea6756 inset;
  cursor: pointer;
  background: linear-gradient(to bottom, #ea6756 0%, #d0352c 100%);
}

._000-signin ._000-footer {
  left: 0;
  margin-top: 27px !important;
  height: 60px;
  width: 100%;
  background: #444;
  box-sizing: border-box;
  padding: 21px 35px 0 !important;
  text-align: right !important;
}

._000-signin ._000-login_text {
  color: #cdcdcd;
  text-align: right !important;
}

._000-signin ._000-signin_link {
  color: #cdcdcd !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400 !important;
}

._000-signin ._000-signin_link:hover {
  color: #fff !important;
}